.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.par-card {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

h1 {
    color: #333;
    font-weight: 600;
}

p {
    color: #666;
    line-height: 1.75;
}

.email {
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 15px;
}

.email-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex-grow-1 {
    flex-grow: 1;
}

footer {
    background-color: #343a40;
    /* bg-dark */
    color: #fff;
    /* text-white */
    text-align: center;
    /* text-center */
    padding: 1.5rem 0;
    /* py-3 */
}

footer p{
    color: #ffffff;
    margin-bottom: 0;
}

.content {
    padding: 1rem;
}

.content h1 {
    color: #333;
}

.content p {
    margin: 10px 0;
}

.content a {
    color: blue;
    text-decoration: underline;
}

.content p img {
    max-width: 30%;
    margin-right: 5px;
}

.dt-layout-table {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}